.form_title {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 24px;
}

.form_info {
    color: #7B8E98;
    font-size: 12px;
    font-weight: 400;
    margin: 24px 0;
    width: 356px;
}

.error_message {
    color: red;
    font-size: 12px;
    text-align: end;
}

.form_item {
    width: 356px;
}