.sections {
    background-image: url('media/background_contact.jpg');
    background-size: cover;
    background-position: center;
    color: #FFFF;
    padding: 122px 0;

}

.info_block {
    width: 445px;
}

.info_block h2 {
    color: #FFFF;
}

.info_block p {
    font-size: 18px;
    font-weight: 300px;
}

.main_contacts {
    margin-top: 80px;
    display: flex;
    justify-content: end;
}

.main_contacts p {
    font-size: 21px;
    font-weight: 300px;
    margin-left: 40px;
}

.contacts_block {
    display: flex;
    justify-content: space-between;
}

.form_block {
    border: 1px solid #FFFF;
    width: 540px;
    height: 400px;
}

@media (max-width: 940px) {
    .contacts_block {
        flex-direction: column;
    }

    .main_contacts {
        justify-content: start;
        margin: 80px 0;
    }

    .main_contacts p {
        margin-left: 0;
        margin-right: 40px;
    }

    .info_block {
        width: 100%;
    }
}