.footer_block {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 300px;
    padding: 70px 0;
}


@media (max-width: 940) {
    .footer_block {
        margin: 0 90px;
    }
}